.intro-animations-bar {
  width: 100vw;
  display: flex;
  background-color: green;
}

.intro-animations-bar-pic {
  color: white
}

.lamp-buffer {
  width:1rem;
  background-color: orange;
  margin-left: 1rem
}

.lamp-on {
  height: 1rem;
  width: 1rem;
  background-image: url('../../assets/images/livingRoom/lamp.png');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  margin-left: 1rem;

  background-color: red;

}

.plant-buffer{
height: 1rem;
width: 1rem;
}

.plant-dead{
  height: 1rem;
  width: 1rem;
  background-image: url('../../assets/images/livingRoom/plant-alive.png');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-color: blue;
  margin-right: 1rem;
  margin-left: 1rem
  }

  

  .tv-buffer {
    height: 1rem; 
    width:1rem;
    background-color: orange;
  }

  .tv-off {
    height:1rem;
    width:1rem;
    background-color: pink;
    margin-right: 1rem;
    margin-left: 1rem;
    background-image: url('../../assets/images/livingRoom/tv-on.png');
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  
  }

  .phone-buffer {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    background-color: yellow;
  }

  .phone-pic {
    height:1rem;
    width:1rem;
    background-color: pink;
    background-image: url('../../assets/images/diningRoom/phone.png');
    background-repeat: no-repeat;
    background-size: 1rem 1rem;

  }