.intro-animations-bar {
  margin-top: 1rem;
  height: 20vh;
  display: flex;
  z-index: 2;
}

.intro-animations-bar-pic {
  color: white
}

.lamp-on {
  height: 20vh;
  width: 10vw;
  background-image: url('../../assets/images/livingRoom/lamp.png');
  background-repeat: no-repeat;
  background-size: 8.5vw 20vh;
  margin-right: 6vw;
  position: absolute;
  bottom: 3vh; 
  left: 3vw
}


.tv-on{
  margin-top: 3vh;
  height:20vh;
  width:20vw;
  margin-right: 1rem;
  margin-left: 1rem;
  background-image: url('../../assets/images/livingRoom/tv-on.png');
  background-repeat: no-repeat;
  background-size: 20vw 20vh;
  position: absolute;
  bottom: 2vh;
  right: 60vw;

}
.tv-off {
  margin-top: 3vh;
  height:20vh;
  width:20vw;
  margin-right: 1rem;
  margin-left: 1rem;
  background-image: url('../../assets/images/livingRoom/tv-off.png');
  background-repeat: no-repeat;
  background-size: 20vw 20vh;
  position: absolute;
  bottom: 2vh;
  right: 60vw;
  animation: blinker 20s linear infinite

}

.plant-alive{
  height: 16vh;
  width: 8vh;
  background-image: url('../../assets/images/livingRoom/plant-alive.png');
  background-repeat: no-repeat;
  background-size: 8vh 16vh;
  margin-left: 20vw; 
  margin-top: 3.5vh;
  position: absolute;
  bottom: 1vh;
  right: 3vw
}
