@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

/*  Vcr Osd Mono is a Free Font for commercial use created by Riciery Leal. */
@font-face {
  font-family: 'VCR OSD Mono';
  src:  url('./assets/fonts/vcr-osd-mono__onlinewebfonts.woff2') format('woff2'),
        url('./assets/fonts/vcr-osd-mono__onlinewebfonts.woff') format('woff'),
        url('./assets/fonts/vcr-osd-mono__onlinewebfonts.ttf') format('ttf');
}

@import '../node_modules/nes.css/css/nes.css';

html {
  height: 100vh;
}

body {
  font-size: 18px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family:'VCR OSD Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
