.Loading__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.99);
  box-shadow: 0 0 20px 5px black;
}

.Loading__box {
  background-color: #fff;
}

.Loading__dotOne {
  animation: dot 1s infinite;
  animation-fill-mode: both;
  animation-delay: 0;
}
.Loading__dotTwo {
  animation: dot 1s infinite;
  animation-fill-mode: both;
  animation-delay: 0.33s;
}
.Loading__dotThree {
  animation: dot 1s infinite;
  animation-fill-mode: both;
  animation-delay: 0.66s;

}

@keyframes dot {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
