.sound-bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.sound-bar__container button, .sound-bar__song-title {
  font-size: .65rem;
}

.sound-bar__container button {
  margin: 0 .25rem 0 0;
  background-color: var(--header-shade-blue);
  padding: .15rem .5rem;
}
.sound-bar__container button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--nes-blue-dark);
}
.sound-bar__btn--focus{
  border: 1px solid var(--header-dark-brown); 
}