# Create a file in the same folder as this one called ormconfig.env
# Create a postgres database called quaranteeny
# Add your username and password
TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_PORT = 5432
TYPEORM_USERNAME =
TYPEORM_PASSWORD =
TYPEORM_DATABASE = quaranteeny
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_ENTITIES = 'src/entity/**/*.ts'
TYPEORM_MIGRATIONS = 'src/migration/**/*.ts'
TYPEORM_SUBSCRIBERS = 'src/subscriber/**/*.ts'
TYPEORM_ENTITIES_DIR = 'src/entity
TYPEORM_MIGRATIONS_DIR = 'src/migration'
TYPEORM_SUBSCRIBERS_DIR = 'src/subscriber'
