footer {
  height: var(--header-footer-height);
  z-index: 1
}

.footer__row-1 {
  background-color: var(--footer-shade-brown);
  height: 10%;
  background-image: url('../../assets/images/header-footer/rim-bottom.png');
  background-repeat: repeat-x;
  background-size: contain
}


.footer__row-2 {
  background-color: var(--header-light-brown);
  height: 90%;
}