.game-container {
  background-color: var(--bg-color-offBlack);
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: var(--game-height);
}

.--fadeToGrey {
  animation: fadeToGrey 1000ms linear 1 normal;
}

.--greyscale {
  filter: grayscale(100%);
}

@keyframes fadeToGrey {
  0% {
    filter: grayscale(0%);
  }
  100% {
    filter: grayscale(100%);
  }
}

.game__panel-component-border {
  border: var(--brown-border-frame);
  padding: 5px;
  background-color: #e6f4ff;
  margin: 10px 10px 10px 10px;
  border-image: url('../../assets/images/panel-borders/interface-border-1.png') 14 round;
}

.game__panel_space {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.game__room-canvas {
  display: flex;
  align-items: center;
}

#left_panel_space{
  margin-left:20px
}

#right_panel_space {
  margin-right: 20px;
}

#dcount_panel {
  flex: 5.5
}

#hscore_panel {
  flex: 4
}

#gover_panel {
  flex: 1
}

#mood_panel {
  flex: 2;
}

#ointeract_panel {
  flex: 2
}

#marea_panel {
  flex: 4
}