.conNum {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.conNum__numHeader {
  display: flex; 
}

.conNum__numOfDays {
  padding: 0.5rem;
  text-align: center; 
}

.conNum__date{
  font-size: 1rem;
  text-align: right;
}

.conNum__clock {  
  font-size: 1rem;
  text-align: right;
}