@import '../../../node_modules/nes.css/css/nes.css';


.GameStats__page{
  background-color: var(--bg-color-offBlack);
  height: var(--game-height);
}

.GameStats__main-container{
  color: #eee;
  padding: 4rem 10rem;
  background-color: var(--bg-color-offBlack);
  display: flex;
  flex-direction: column;
}

.GameStats__content-container {
  display: flex;
}

.GameStats__column {
  width: 100%;
  margin: 0 4rem;
  padding: 1rem;
}

.GameStats__column-right {
  border: 1px solid #eee;
}

.GameStats__high-scores {
  margin-top: 2rem;
}

.GameStats__btn-container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.GameStats__btn-container button {
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
  background-color: white;
  color: var(--header-dark-brown);
  border: 1px solid white;
}
.GameStats__btn-container button:hover {
  background-color: var(--header-darkest-brown);
  color: white;
} 


.GameStats__high-scores-list li {
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

