
.meter-container {
  margin: 0;
  display: flex;
  margin: .5rem;
  align-items: center;
}

.meter {
  width: 96%;
  background-color: #fff;
}

.Meter__progress-bar-wrap {
  width: 98%;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  height: 37px;
}

.Meter__progress-bar {
  -webkit-appearance: none;
  border-radius: 5px;
  height: 33px;
  border: 2px solid #444;
  padding: 5px 4px;
  width: 137px;
  position: relative;
  left: 1px;
}

.Meter__progress-bar::-webkit-progress-bar {
  background-color: #fff;
}
.Meter__progress-bar--normal::-webkit-progress-value {
  background-color: var(--nes-blue);
}
.Meter__progress-bar--low::-webkit-progress-value {
  background-color: var(--nes-red) !important;
}
.Meter__progress-bar--high::-webkit-progress-value {
  background-color: var(--nes-yellow) !important;
}

.meter-text{
  padding: .5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.meter-text-warning {
  color: var(--nes-red);
}

.meter-warning {
  color: var(--nes-red);
  border-style: dashed;
  border-width: 5px;
  animation: warning 3000ms ease-in-out infinite;
}


@keyframes warning {
  0% {
    border-color: var(--nes-yellow)
  }
  10% {
    border-color: var(--nes-red)
  }
  20% {
    border-color: var(--nes-yellow)
  }
  30% {
    border-color: var(--nes-red)
  }
  40% {
    border-color: var(--nes-yellow)
  }
  50% {
    border-color: var(--nes-red)
  }
  60% {
    border-color: var(--nes-yellow)
  }
  70% {
    border-color: var(--nes-red)
  }
  80% {
    border-color: var(--nes-yellow)
  }
  90% {
    border-color: var(--nes-red)
  }
  100% {
    border-color: var(--nes-yellow)
  }
}
